@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: #111111;
    --fg: #F5F5F0;
    --accent: #FF3300;
    --border: #F5F5F0;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --bg: #F5F5F0;
      --fg: #111111;
      --accent: #FF3300;
      --border: #111111;
    }
  }

  body {
    background-color: var(--bg);
    color: var(--fg);
    @apply font-mono selection:bg-accent selection:text-white;
  }

  /* Core Brutalism Rules */
  * {
    border-radius: 0 !important;
    box-shadow: none !important;
  }
}

@layer utilities {
  .border-brutal {
    border: 3px solid var(--border);
  }
  
  .border-brutal-sm {
    border: 2px solid var(--border);
  }

  .custom-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .custom-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
